{% extends "base.html" %}
{% block css %}
  <link rel="stylesheet" href="/static/bower_components/jquery.steps/demo/css/jquery.steps.css">
  <link rel="stylesheet" href="/static/bower_components/datetimepicker/build/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="/static/bower_components/select2/dist/css/select2.min.css">
  <link rel="stylesheet" href="/static/bower_components/smartwizard/dist/css/smart_wizard.min.css">
  <link rel="stylesheet" href="/static/bower_components/smartwizard/dist/css/smart_wizard_theme_dots.min.css">
  <link rel="stylesheet" href="/static/bower_components/smartwizard/dist/css/smart_wizard_theme_arrows.min.css">
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li><a href="/createTicket.html">新增工单</a></li>
    </ol>
    <form action="" id="create_ticket_form" class="form-horizontal">
        <div id="smartwizard">
            <ul>
                <li><a href="#step-1">第一步<br /><small>填写基本信息</small></a></li>
                <li><a href="#step-2">第二步<br /><small>填写基本信息</small></a></li>
                <li><a href="#step-3">第三步<br /><small>完成提交</small></a></li>

            </ul>
            <div>
                <div id="step-1" class="">
                    <div class="form-group"></div>
                   <div class="form-group">
                      <label class="col-sm-2 control-label"><strong>项目名称</strong></label>
                        <div class="col-sm-4">
                        <input type="text" placeholder="项目名称" name="pro_name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                          <div id="select-sales-content"></div>
                      </div>
                    <div class="form-group">
                            <div id="select-customers-content"></div>
                      </div>
                    <div class="form-group">
                            <div id="select-products-content"></div>
                       </div>
                    <div class="form-group">
                        <div id="select-areas-content"></div>
                       </div>
                </div>
                <div id="step-2" class="">
                    <div class="" id="select_class">
                        <label for=""><strong>选择分类I</strong>
                            <select name="" id="" class="class1 form-control">
                                <option value=""></option>
                            </select>
                        </label>
                        <label for=""><strong>选择分类II</strong>
                            <select name="" id="" class="class2 form-control">
                                <option value=""></option>
                            </select>
                        </label>
                        <label for=""><strong>选择分类III</strong>
                            <select name="" id="" class="class3 form-control">
                                <option value=""></option>
                            </select>
                        </label>
                        <label for=""><strong>选择分类IV</strong>
                            <select name="" id="" class="class4 form-control">
                                <option value=""></option>
                            </select>
                        </label>
                    </div>
                </div>
                <div id="step-3" class="">
                    <div class="form-group">
                        <div id="select-engineers-content"></div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label"><strong>服务开始时间</strong></label>
                        <div class="col-sm-4">
                        <input type="text" placeholder="选择日期" id="service_start_datetimepicker" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="select-engineers-content"></div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label"><strong>服务结束时间</strong></label>
                        <div class="col-sm-4">
                        <input type="text" placeholder="选择日期" id="service_end_datetimepicker" class="form-control">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
{% block js %}
    <script src="/static/bower_components/jquery.steps/build/jquery.steps.min.js"></script>
    <script src="/static/bower_components/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
    <script src="/static/bower_components/select2/dist/js/select2.min.js"></script>
    <script src="/static/bower_components/jquery.cxselect/jquery.cxselect.min.js"></script>
    <script src="/static/bower_components/smartwizard/dist/js/jquery.smartWizard.min.js"></script>
    <script id="select-customers" type="text/html">
      <label class="col-sm-2 control-label"><strong>选择客户</strong></label>
          <div class="col-sm-10">
                      <select name="" id="" class="select-customers">
                    <% for (var i = 0; i < list.length; i ++) { %>
                        <option value="<%= list[i].id %>"><%= list[i].name %></option>
                    <% } %>
                    data: <%=$data%>
                </select>
          </div>

    </script>
    <script id="select-sales" type="text/html">
    <label class="col-sm-2 control-label"><strong>选择销售</strong></label>
    <div class="col-sm-10">
        <select name="" id="" class="select-sales form-control">
            <% for (var i = 0; i < list.length; i ++) { %>
                <option value="<%= list[i].id %>"><%= list[i].name %></option>
            <% } %>
            data: <%=$data%>
        </select>
        </div>
    </script>
    <script id="select-products" type="text/html">
        <label class="col-sm-2 control-label"><strong>选择主导产品</strong></label>
        <div class="col-sm-10">
            <select name="" id="" class="select-products">
                <% for (var i = 0; i < list.length; i ++) { %>
                    <option value="<%= list[i].id %>"><%= list[i].name %></option>
                <% } %>
                data: <%=$data%>
            </select>
         </div>
    </script>
    <script id="select-areas" type="text/html">
            <label class="col-sm-2 control-label"><strong>选择服务区域</strong></label>
            <div class="col-sm-10">
                <select name="" id="" class="select-areas">
                    <% for (var i = 0; i < list.length; i ++) { %>
                        <option value="<%= list[i].id %>"><%= list[i].name %></option>
                    <% } %>
                    data: <%=$data%>
                </select>
              </div>
    </script>
    <script id="select-engineers" type="text/html">
        <label class="col-sm-2 control-label"><strong>选择工程师</strong></label>
        <div class="col-sm-10">
            <select name="" id="" class="select-engineers">
                <% for (var i = 0; i < list.length; i ++) { %>
                    <option value="<%= list[i].id %>"><%= list[i].name %></option>
                <% } %>
                data: <%=$data%>
            </select>
        </div>
    </script>
    <script>
        $(function () {
         $('#smartwizard').smartWizard({
             theme: 'arrows',
             lang: {  // Language variables
                next: '下一步',
                previous: '上一步'
            },
             autoAdjustHeight: false,
                    toolbarSettings: {
                toolbarPosition: 'bottom', // none, top, bottom, both
                toolbarButtonPosition: 'right', // left, right
                showNextButton: true, // show/hide a Next button
                showPreviousButton: true, // show/hide a Previous button
                toolbarExtraButtons: [

                      ]
            }
         });

        $("#smartwizard").on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
            if (stepNumber == 0 && !$("input[name='pro_name']").val()){
                toastr.error("项目名称不能为空");
                return false;
            }else if (stepNumber == 1 && !$("select[class='class4']").val()){
                toastr.error("分类选择不能为空");
{#                return false;#}
            }
            else if(stepNumber == 2 && !$("#service_start_datetimepicker").datetimepicker('getValue')){
                toastr.error("服务开始时间不能为空");
                return false;
            }
            else if(stepNumber == 2 && !$("#service_end_datetimepicker").datetimepicker('getValue')){
                toastr.error("服务结束时间不能为空");
                return false;
            }
            else{
                return true;
            }

            if (stepNumber == 3 ){
                var sales = $(".select-sales").select2("data")[0]["id"];
                var customers = $(".select-customers").select2("data")[0]["id"];
                var products = $(".select-products").select2("data")[0]["id"];
                var areas = $(".select-areas").select2("data")[0]["id"];
                var engineers = $(".select-engineers").select2("data")[0]["id"];
                var service_start = formatDateTime($("#service_start_datetimepicker").datetimepicker('getValue'));
                var service_end = formatDateTime($("#service_end_datetimepicker").datetimepicker('getValue'));
                var pro_name = $("input[name='pro_name']").val();
                var ticket_temp = $("select[class='class4']").val();

                $.post(API_URI["tickets"], {
                    "pro_name": pro_name,
                    "sale": sales,
                    "customer": customers,
                    "product": products,
                    "area": areas,
                    "ticket_temp": ticket_temp,
                    "engineer": engineers,
                    "service_start": service_start,
                    "service_end": service_end
                }).done(function (res) {
                    toastr.success('工单创建已完成，即将跳转工单页');
                    setTimeout('window.location.href = "/"',2000);
                })
            }
      });
        $.getJSON(API_URI["customers"]).done(function (res) {
            var data = {
                list: res["objects"]
            };
            var html = template('select-customers', data);
            document.getElementById('select-customers-content').innerHTML = html;
            $(".select-customers").select2();
        });

        $.getJSON(API_URI["sales"]).done(function (res) {
            var data = {
                list: res["objects"]
            };
            var html = template('select-sales', data);
            document.getElementById('select-sales-content').innerHTML = html;
            $(".select-sales").select2();

        });

        $.getJSON(API_URI["engineers"]).done(function (res) {
            var data = {
                list: res["objects"]
            };
            var html = template('select-engineers', data);
            document.getElementById('select-engineers-content').innerHTML = html;
            $(".select-engineers").select2();

        });

        $.getJSON(API_URI["products"]).done(function (res) {
            var data = {
                list: res["objects"]
            };
            var html = template('select-products', data);
            document.getElementById('select-products-content').innerHTML = html;
            $(".select-products").select2();

        });

        $.getJSON(API_URI["areas"]).done(function (res) {
            var data = {
                list: res["objects"]
            };
            var html = template('select-areas', data);
            document.getElementById('select-areas-content').innerHTML = html;
            $(".select-areas").select2();

        });

        var form = $("#create_ticket_form");

        $("#wizard").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            stepsOrientation: "vertical",
            autoFocus: true,
            labels: {
                cancel: "取消",
                current: "current step:",
                pagination: "Pagination",
                finish: "提交",
                next: "下一步",
                previous: "上一步",
                loading: "加载中 ..."
            },
            onStepChanging: function (event, currentIndex, newIndex) {

            },
            onFinished: function (event, currentIndex) {


            }
        });

        $('#service_start_datetimepicker').datetimepicker({format: 'd-m-Y H:i:s'});
        $('#service_end_datetimepicker').datetimepicker({format: 'd-m-Y H:i:s'});

        function formatDateTime(datetime){
            return datetime.getFullYear() + "-"
                    + (datetime.getMonth() + 1)
                    + "-" + datetime.getDate()
                    + " " + datetime.getHours()
                    + ":" + datetime.getMinutes()
                    + ":" + datetime.getSeconds();
        }

        //级联
        $.getJSON(API_URI["templates2"]).done(function (res) {
            $('#select_class').cxSelect({
              selects: ['class1', 'class2', 'class3', 'class4'],  // 数组，请注意顺序
              jsonName: 'name',
              jsonValue: 'value',
              jsonSub: 'sub',
              emptyStyle: 'none',
              data: res.data
            });
        });
    });
    </script>
{% endblock%}